In [4]:
import pandas as pd
data = pd.read_csv('sample.csv')
print(data)
data_1 = data.loc[0:3, ['빅데이터분석']] # 0 ~ 3
data_2 = data.iloc[0:3, [2]] # 0 ~ 2
data_3 = data.at[0, '빅데이터분석']
data_4 = data.iat[2, 1]
print(data_1)
print(data_2)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
   빅데이터분석
0      60
1      55
2      94
3      93
   빅데이터분석
0      60
1      55
2      94

In [11]:
data = pd.read_csv("sample.csv")
print(data)

data1 = data[data["빅데이터분석"]>=80]
print(data1)

data2 = data[(data["빅데이터분석"]>=60) & (data["프로그래밍기초"]>=80)]
print(data2)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
2   201003       82      94   100
3   201004       69      93    52
5   201006       58      96    60
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
15  201016       81      88    87
        학번  프로그래밍기초  빅데이터분석  AI활용
2   201003       82      94   100
6   201007       95      70    80
10  201011       89      94    56
12  201013       98      99    77
15  201016       81      88    87
18  201019       87      65    70

In [17]:
data = pd.read_csv("sample.csv")
print(data)

#필터를 이용한 데이터 선택 : isin()
data1 = data["빅데이터분석"].isin([60,93])
print(data1) # 필터에 해당하는 값이 있으면 True, 그렇지 않으면 False 반환

# 실제 값을 반환하려면 DataFrame 내부에서 선택의 값으로 입력
data2 = data[data["빅데이터분석"].isin([60,93])]
data2

data3 = data[data.isin([60,98])] # 전체 데이터 중에서 60, 90 점을 가진 사람 위치찾기
data3

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
0      True
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
Name: 빅데이터분석, dtype: bool

    학번  프로그래밍기초  빅데이터분석  AI활용
0  NaN      NaN    60.0   NaN
1  NaN     98.0     NaN   NaN
2  NaN      NaN     NaN   NaN
3  NaN      NaN     NaN   NaN
4  NaN      NaN     NaN   NaN
5  NaN      NaN     NaN  60.0
6  NaN      NaN     NaN   NaN
7  NaN      NaN     NaN   NaN
8  NaN      NaN     NaN   NaN
9  NaN      NaN     NaN   NaN
10 NaN      NaN     NaN   NaN
11 NaN      NaN    98.0   NaN
12 NaN     98.0     NaN   NaN
13 NaN      NaN    60.0   NaN
14 NaN      NaN     NaN   NaN
15 NaN      NaN     NaN   NaN
16 NaN      NaN     NaN  98.0
17 NaN      NaN     NaN   NaN
18 NaN      NaN     NaN   NaN
19 NaN      NaN     NaN   NaN

In [18]:
#열 값을 변경하려면 열 이름을 선택하고 같은 길이의 데이터를 리스트나 Series로 입력
data = pd.read_csv("sample.csv")
print(data)

data["AI활용"] = [57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
print(data)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    57
1   201002       98      55    54
2   201003       82      94    53
3   201004       69      93    80
4   201005       78      75    84
5   201006       58      96    88
6   201007       95      70    79
7   201008       71      73    64
8   201009       81      52    75
9   201010       51      87    65
10  201011       89      94    84
11  201012       69      98    90
12  201013       98      99    72
13  201014       62      60    95
14  201015       53      58   100
15  201016       81      88    94
16  201017       53      74    85
17  201018       56      67    63
18  201019       87      65    57
19  201020       50      54    95

In [21]:
#열 목록에 없는 이름 입력하면 새로운 데이터가 추가된다
data = pd.read_csv("sample.csv")
print(data)

data["데이터베이스"] = [57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
print(data)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용  데이터베이스
0   201001       64      60    84      57
1   201002       98      55    79      54
2   201003       82      94   100      53
3   201004       69      93    52      80
4   201005       78      75    85      84
5   201006       58      96    60      88
6   201007       95      70    80      79
7   201008       71      73    51      64
8   201009       81      52    62      75
9   201010       51      87    80      65
10  201011       89      94    56      84
11  201012       69      98    51      90
12  201013       98      99    77      72
13  201014       62      60    54      95
14  201015       53      58    62     100
15  201016       81      88    87      94
16  201017       53      74    98      85
17  201018       56      67    68      63
18  201019       87      65    70      57
19  201020       50      54    66      95

In [22]:
data = pd.read_csv("sample.csv")
print(data)

print(data.loc[0, "프로그래밍기초"])
data.loc[0, "프로그래밍기초"] = 100
print(data.loc[0, "프로그래밍기초"])

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
64
100