In [1]:
import pandas as pd
data = pd.read_csv('sample.csv')
print(data)
data_1 = data.loc[0:3, ['빅데이터분석']] # 0 ~ 3
data_2 = data.iloc[0:3, [2]] # 0 ~ 2
data_3 = data.at[0, '빅데이터분석']
data_4 = data.iat[2, 1]
print(data_1)
print(data_2)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
   빅데이터분석
0      60
1      55
2      94
3      93
   빅데이터분석
0      60
1      55
2      94

In [11]:
data = pd.read_csv("sample.csv")
print(data)

data1 = data[data["빅데이터분석"]>=80]
print(data1)

data2 = data[(data["빅데이터분석"]>=60) & (data["프로그래밍기초"]>=80)]
print(data2)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
2   201003       82      94   100
3   201004       69      93    52
5   201006       58      96    60
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
15  201016       81      88    87
        학번  프로그래밍기초  빅데이터분석  AI활용
2   201003       82      94   100
6   201007       95      70    80
10  201011       89      94    56
12  201013       98      99    77
15  201016       81      88    87
18  201019       87      65    70

In [17]:
data = pd.read_csv("sample.csv")
print(data)

#필터를 이용한 데이터 선택 : isin()
data1 = data["빅데이터분석"].isin([60,93])
print(data1) # 필터에 해당하는 값이 있으면 True, 그렇지 않으면 False 반환

# 실제 값을 반환하려면 DataFrame 내부에서 선택의 값으로 입력
data2 = data[data["빅데이터분석"].isin([60,93])]
data2

data3 = data[data.isin([60,98])] # 전체 데이터 중에서 60, 90 점을 가진 사람 위치찾기
data3

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
0      True
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
Name: 빅데이터분석, dtype: bool

    학번  프로그래밍기초  빅데이터분석  AI활용
0  NaN      NaN    60.0   NaN
1  NaN     98.0     NaN   NaN
2  NaN      NaN     NaN   NaN
3  NaN      NaN     NaN   NaN
4  NaN      NaN     NaN   NaN
5  NaN      NaN     NaN  60.0
6  NaN      NaN     NaN   NaN
7  NaN      NaN     NaN   NaN
8  NaN      NaN     NaN   NaN
9  NaN      NaN     NaN   NaN
10 NaN      NaN     NaN   NaN
11 NaN      NaN    98.0   NaN
12 NaN     98.0     NaN   NaN
13 NaN      NaN    60.0   NaN
14 NaN      NaN     NaN   NaN
15 NaN      NaN     NaN   NaN
16 NaN      NaN     NaN  98.0
17 NaN      NaN     NaN   NaN
18 NaN      NaN     NaN   NaN
19 NaN      NaN     NaN   NaN

In [18]:
#열 값을 변경하려면 열 이름을 선택하고 같은 길이의 데이터를 리스트나 Series로 입력
data = pd.read_csv("sample.csv")
print(data)

data["AI활용"] = [57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
print(data)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    57
1   201002       98      55    54
2   201003       82      94    53
3   201004       69      93    80
4   201005       78      75    84
5   201006       58      96    88
6   201007       95      70    79
7   201008       71      73    64
8   201009       81      52    75
9   201010       51      87    65
10  201011       89      94    84
11  201012       69      98    90
12  201013       98      99    72
13  201014       62      60    95
14  201015       53      58   100
15  201016       81      88    94
16  201017       53      74    85
17  201018       56      67    63
18  201019       87      65    57
19  201020       50      54    95

In [21]:
#열 목록에 없는 이름 입력하면 새로운 데이터가 추가된다
data = pd.read_csv("sample.csv")
print(data)

data["데이터베이스"] = [57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
print(data)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용  데이터베이스
0   201001       64      60    84      57
1   201002       98      55    79      54
2   201003       82      94   100      53
3   201004       69      93    52      80
4   201005       78      75    85      84
5   201006       58      96    60      88
6   201007       95      70    80      79
7   201008       71      73    51      64
8   201009       81      52    62      75
9   201010       51      87    80      65
10  201011       89      94    56      84
11  201012       69      98    51      90
12  201013       98      99    77      72
13  201014       62      60    54      95
14  201015       53      58    62     100
15  201016       81      88    87      94
16  201017       53      74    98      85
17  201018       56      67    68      63
18  201019       87      65    70      57
19  201020       50      54    66      95

In [22]:
data = pd.read_csv("sample.csv")
print(data)

print(data.loc[0, "프로그래밍기초"])
data.loc[0, "프로그래밍기초"] = 100
print(data.loc[0, "프로그래밍기초"])

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
64
100

In [3]:
data = pd.read_csv("sample.csv")
print(data)
print(data.loc[1:3, "프로그래밍기초"])
data.loc[1:3, "프로그래밍기초"] = [100, 99, 98]
print(data.loc[1:3, "프로그래밍기초"])

data

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
1    98
2    82
3    69
Name: 프로그래밍기초, dtype: int64
1    100
2     99
3     98
Name: 프로그래밍기초, dtype: int64

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002      100      55    79
2   201003       99      94   100
3   201004       98      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66

In [11]:
data = pd.read_csv("sample.csv")
print(data)

print(data.loc[0:3, ["빅데이터분석", "AI활용"]])
data.loc[0:3, ["빅데이터분석", "AI활용"]] = [[10,10],[20,20],[30,30],[40,40]]
data

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
   빅데이터분석  AI활용
0      60    84
1      55    79
2      94   100
3      93    52

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      10    10
1   201002       98      20    20
2   201003       82      30    30
3   201004       69      40    40
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66

In [16]:
# drop()으로 행 또는 열 삭제하기   axis = 0 : 행 삭제 ( default )   axis = 1 : 열 삭제
data = pd.read_csv("sample.csv")
print(data)

data1 = data.drop(2)
print(data1)

data2 = data.drop([5,7])
print(data2)

data3 = data.drop("빅데이터분석", axis= 1)
print(data3)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
6   201007       95      70    80
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  AI활용
0   201001       64    84
1   201002       98    79
2   201003       82   100
3   201004       69    52
4   201005       78    85
5   201006       58    60
6   201007       95    80
7   201008       71    51
8   201009       81    62
9   201010       51    80
10  201011       89    56
11  201012       69    51
12  201013       98    77
13  201014       62    54
14  201015       53    62
15  201016       81    87
16  201017       53    98
17  201018       56    68
18  201019       87    70
19  201020       50    66

In [20]:
data = pd.read_csv("sample.csv")
print(data)

data1 = data.pop("빅데이터분석")
print(data1)
print(data)
data["빅데이터분석"] = data1
print(data)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
0     60
1     55
2     94
3     93
4     75
5     96
6     70
7     73
8     52
9     87
10    94
11    98
12    99
13    60
14    58
15    88
16    74
17    67
18    65
19    54
Name: 빅데이터분석, dtype: int64
        학번  프로그래밍기초  AI활용
0   201001       64    84
1   201002       98    79
2   201003       82   100
3   201004       69    52
4   201005       78    85
5   201006       58    60
6   201007       95    80
7   201008       71    51
8   201009       81    62
9   201010       51    80
10  201011       89    56
11  201012       69    51
12  201013       98    77
13  201014       62    54
14  201015       53    62
15  201016       81    87
16  201017       53    98
17  201018       56    68
18  201019       87    70
19  201020       50    66
        학번  프로그래밍기초  AI활용  빅데이터분석
0   201001       64    84      60
1   201002       98    79      55
2   201003       82   100      94
3   201004       69    52      93
4   201005       78    85      75
5   201006       58    60      96
6   201007       95    80      70
7   201008       71    51      73
8   201009       81    62      52
9   201010       51    80      87
10  201011       89    56      94
11  201012       69    51      98
12  201013       98    77      99
13  201014       62    54      60
14  201015       53    62      58
15  201016       81    87      88
16  201017       53    98      74
17  201018       56    68      67
18  201019       87    70      65
19  201020       50    66      54

In [22]:
data = pd.read_csv("sample1.csv")
print(data)

print(data.isnull())
data.isnull().sum()

        학번  프로그래밍기초  빅데이터분석   AI활용
0   201001     64.0    60.0   84.0
1   201002     98.0    55.0   79.0
2   201003     82.0    94.0  100.0
3   201004     69.0    93.0   52.0
4   201005     78.0    75.0   85.0
5   201006     58.0    96.0   60.0
6   201007     95.0    70.0   80.0
7   201008      NaN    73.0   51.0
8   201009     81.0    52.0   62.0
9   201010     51.0    87.0   80.0
10  201011     89.0    94.0    NaN
11  201012     69.0    98.0   51.0
12  201013     98.0    99.0   77.0
13  201014     62.0     NaN   54.0
14  201015     53.0    58.0   62.0
15  201016     81.0    88.0   87.0
16  201017     53.0    74.0   98.0
17  201018     56.0    67.0   68.0
18  201019     87.0    65.0   70.0
19  201020     50.0    54.0   66.0
       학번  프로그래밍기초  빅데이터분석   AI활용
0   False    False   False  False
1   False    False   False  False
2   False    False   False  False
3   False    False   False  False
4   False    False   False  False
5   False    False   False  False
6   False    False   False  False
7   False     True   False  False
8   False    False   False  False
9   False    False   False  False
10  False    False   False   True
11  False    False   False  False
12  False    False   False  False
13  False    False    True  False
14  False    False   False  False
15  False    False   False  False
16  False    False   False  False
17  False    False   False  False
18  False    False   False  False
19  False    False   False  False

학번         0
프로그래밍기초    1
빅데이터분석     1
AI활용       1
dtype: int64

In [25]:
data = pd.read_csv("sample1.csv")
print(data)

data1 = data.dropna() # drop N/Aed data
print(data1)

        학번  프로그래밍기초  빅데이터분석   AI활용
0   201001     64.0    60.0   84.0
1   201002     98.0    55.0   79.0
2   201003     82.0    94.0  100.0
3   201004     69.0    93.0   52.0
4   201005     78.0    75.0   85.0
5   201006     58.0    96.0   60.0
6   201007     95.0    70.0   80.0
7   201008      NaN    73.0   51.0
8   201009     81.0    52.0   62.0
9   201010     51.0    87.0   80.0
10  201011     89.0    94.0    NaN
11  201012     69.0    98.0   51.0
12  201013     98.0    99.0   77.0
13  201014     62.0     NaN   54.0
14  201015     53.0    58.0   62.0
15  201016     81.0    88.0   87.0
16  201017     53.0    74.0   98.0
17  201018     56.0    67.0   68.0
18  201019     87.0    65.0   70.0
19  201020     50.0    54.0   66.0
        학번  프로그래밍기초  빅데이터분석   AI활용
0   201001     64.0    60.0   84.0
1   201002     98.0    55.0   79.0
2   201003     82.0    94.0  100.0
3   201004     69.0    93.0   52.0
4   201005     78.0    75.0   85.0
5   201006     58.0    96.0   60.0
6   201007     95.0    70.0   80.0
8   201009     81.0    52.0   62.0
9   201010     51.0    87.0   80.0
11  201012     69.0    98.0   51.0
12  201013     98.0    99.0   77.0
14  201015     53.0    58.0   62.0
15  201016     81.0    88.0   87.0
16  201017     53.0    74.0   98.0
17  201018     56.0    67.0   68.0
18  201019     87.0    65.0   70.0
19  201020     50.0    54.0   66.0

In [27]:
# 결측된 데이터를 원하는 값(0)으로 변경하기
data = pd.read_csv("sample1.csv")
print(data)

data1 = data.fillna(value = 0)
print(data1)

        학번  프로그래밍기초  빅데이터분석   AI활용
0   201001     64.0    60.0   84.0
1   201002     98.0    55.0   79.0
2   201003     82.0    94.0  100.0
3   201004     69.0    93.0   52.0
4   201005     78.0    75.0   85.0
5   201006     58.0    96.0   60.0
6   201007     95.0    70.0   80.0
7   201008      NaN    73.0   51.0
8   201009     81.0    52.0   62.0
9   201010     51.0    87.0   80.0
10  201011     89.0    94.0    NaN
11  201012     69.0    98.0   51.0
12  201013     98.0    99.0   77.0
13  201014     62.0     NaN   54.0
14  201015     53.0    58.0   62.0
15  201016     81.0    88.0   87.0
16  201017     53.0    74.0   98.0
17  201018     56.0    67.0   68.0
18  201019     87.0    65.0   70.0
19  201020     50.0    54.0   66.0
        학번  프로그래밍기초  빅데이터분석   AI활용
0   201001     64.0    60.0   84.0
1   201002     98.0    55.0   79.0
2   201003     82.0    94.0  100.0
3   201004     69.0    93.0   52.0
4   201005     78.0    75.0   85.0
5   201006     58.0    96.0   60.0
6   201007     95.0    70.0   80.0
7   201008      0.0    73.0   51.0
8   201009     81.0    52.0   62.0
9   201010     51.0    87.0   80.0
10  201011     89.0    94.0    0.0
11  201012     69.0    98.0   51.0
12  201013     98.0    99.0   77.0
13  201014     62.0     0.0   54.0
14  201015     53.0    58.0   62.0
15  201016     81.0    88.0   87.0
16  201017     53.0    74.0   98.0
17  201018     56.0    67.0   68.0
18  201019     87.0    65.0   70.0
19  201020     50.0    54.0   66.0

In [28]:
data = pd.read_csv("sample.csv")
print(data)

data1 = data.replace(100, 0)
print(data1)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94     0
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66

In [30]:
#미리 만들어 둔 함수 적용
data = pd.read_csv('sample.csv')

def func(row):
    if row > 90:
        return "A"
    elif row > 80:
        return "B"
    else:
        return "C"
    
data["학점"] = data["프로그래밍기초"].apply(func)
data

        학번  프로그래밍기초  빅데이터분석  AI활용 학점
0   201001       64      60    84  C
1   201002       98      55    79  A
2   201003       82      94   100  B
3   201004       69      93    52  C
4   201005       78      75    85  C
5   201006       58      96    60  C
6   201007       95      70    80  A
7   201008       71      73    51  C
8   201009       81      52    62  B
9   201010       51      87    80  C
10  201011       89      94    56  B
11  201012       69      98    51  C
12  201013       98      99    77  A
13  201014       62      60    54  C
14  201015       53      58    62  C
15  201016       81      88    87  B
16  201017       53      74    98  C
17  201018       56      67    68  C
18  201019       87      65    70  B
19  201020       50      54    66  C

In [31]:
# insert()로 원하는 위치에 열 입력하기
data = pd.read_csv("sample.csv")

column_name = "새과목"
column_value = [57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
data.insert(1, column_name, column_value)
print(data)

        학번  새과목  프로그래밍기초  빅데이터분석  AI활용
0   201001   57       64      60    84
1   201002   54       98      55    79
2   201003   53       82      94   100
3   201004   80       69      93    52
4   201005   84       78      75    85
5   201006   88       58      96    60
6   201007   79       95      70    80
7   201008   64       71      73    51
8   201009   75       81      52    62
9   201010   65       51      87    80
10  201011   84       89      94    56
11  201012   90       69      98    51
12  201013   72       98      99    77
13  201014   95       62      60    54
14  201015  100       53      58    62
15  201016   94       81      88    87
16  201017   85       53      74    98
17  201018   63       56      67    68
18  201019   57       87      65    70
19  201020   95       50      54    66

In [32]:
# append()로 행 추가하기
data = pd.read_csv("sample.csv")

append_data = pd.Series([100,200], ["빅데이터분석","SW공학"])
data1 = data.append(append_data, ignore_index=True)
print(data1)

          학번  프로그래밍기초  빅데이터분석   AI활용   SW공학
0   201001.0     64.0    60.0   84.0    NaN
1   201002.0     98.0    55.0   79.0    NaN
2   201003.0     82.0    94.0  100.0    NaN
3   201004.0     69.0    93.0   52.0    NaN
4   201005.0     78.0    75.0   85.0    NaN
5   201006.0     58.0    96.0   60.0    NaN
6   201007.0     95.0    70.0   80.0    NaN
7   201008.0     71.0    73.0   51.0    NaN
8   201009.0     81.0    52.0   62.0    NaN
9   201010.0     51.0    87.0   80.0    NaN
10  201011.0     89.0    94.0   56.0    NaN
11  201012.0     69.0    98.0   51.0    NaN
12  201013.0     98.0    99.0   77.0    NaN
13  201014.0     62.0    60.0   54.0    NaN
14  201015.0     53.0    58.0   62.0    NaN
15  201016.0     81.0    88.0   87.0    NaN
16  201017.0     53.0    74.0   98.0    NaN
17  201018.0     56.0    67.0   68.0    NaN
18  201019.0     87.0    65.0   70.0    NaN
19  201020.0     50.0    54.0   66.0    NaN
20       NaN      NaN   100.0    NaN  200.0

In [35]:
data = pd.read_csv("sample.csv")
print(data.head())
print(data.tail(8))

       학번  프로그래밍기초  빅데이터분석  AI활용
0  201001       64      60    84
1  201002       98      55    79
2  201003       82      94   100
3  201004       69      93    52
4  201005       78      75    85
        학번  프로그래밍기초  빅데이터분석  AI활용
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66

In [37]:
# DataFrame의 기본적인 통계를 describe
data = pd.read_csv("sample.csv")
data.describe()

                 학번    프로그래밍기초     빅데이터분석        AI활용
count      20.00000  20.000000  20.000000   20.000000
mean   201010.50000  72.250000  75.600000   71.100000
std         5.91608  16.179503  16.544676   15.296714
min    201001.00000  50.000000  52.000000   51.000000
25%    201005.75000  57.500000  60.000000   59.000000
50%    201010.50000  70.000000  73.500000   69.000000
75%    201015.25000  83.250000  93.250000   81.000000
max    201020.00000  98.000000  99.000000  100.000000

In [41]:
data = pd.read_csv("sample.csv")
print(data)

data_T = data.T
print(data_T)

data_t = data.transpose()
print(data_t)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
             0       1       2       3       4       5       6       7   \
학번       201001  201002  201003  201004  201005  201006  201007  201008
프로그래밍기초      64      98      82      69      78      58      95      71
빅데이터분석       60      55      94      93      75      96      70      73
AI활용         84      79     100      52      85      60      80      51

             8       9       10      11      12      13      14      15  \
학번       201009  201010  201011  201012  201013  201014  201015  201016
프로그래밍기초      81      51      89      69      98      62      53      81
빅데이터분석       52      87      94      98      99      60      58      88
AI활용         62      80      56      51      77      54      62      87

             16      17      18      19
학번       201017  201018  201019  201020
프로그래밍기초      53      56      87      50
빅데이터분석       74      67      65      54
AI활용         98      68      70      66
             0       1       2       3       4       5       6       7   \
학번       201001  201002  201003  201004  201005  201006  201007  201008
프로그래밍기초      64      98      82      69      78      58      95      71
빅데이터분석       60      55      94      93      75      96      70      73
AI활용         84      79     100      52      85      60      80      51

             8       9       10      11      12      13      14      15  \
학번       201009  201010  201011  201012  201013  201014  201015  201016
프로그래밍기초      81      51      89      69      98      62      53      81
빅데이터분석       52      87      94      98      99      60      58      88
AI활용         62      80      56      51      77      54      62      87

             16      17      18      19
학번       201017  201018  201019  201020
프로그래밍기초      53      56      87      50
빅데이터분석       74      67      65      54
AI활용         98      68      70      66

In [50]:
data = pd.read_csv("sample.csv")
print(data)

sort_index1 = data.sort_index(axis = 0, ascending = False) # 행 정렬
print(sort_index1)

sort_index2 = data.sort_index(axis = 1, ascending = True) # 열 정렬
print(sort_index2)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
19  201020       50      54    66
18  201019       87      65    70
17  201018       56      67    68
16  201017       53      74    98
15  201016       81      88    87
14  201015       53      58    62
13  201014       62      60    54
12  201013       98      99    77
11  201012       69      98    51
10  201011       89      94    56
9   201010       51      87    80
8   201009       81      52    62
7   201008       71      73    51
6   201007       95      70    80
5   201006       58      96    60
4   201005       78      75    85
3   201004       69      93    52
2   201003       82      94   100
1   201002       98      55    79
0   201001       64      60    84
    AI활용  빅데이터분석  프로그래밍기초      학번
0     84      60       64  201001
1     79      55       98  201002
2    100      94       82  201003
3     52      93       69  201004
4     85      75       78  201005
5     60      96       58  201006
6     80      70       95  201007
7     51      73       71  201008
8     62      52       81  201009
9     80      87       51  201010
10    56      94       89  201011
11    51      98       69  201012
12    77      99       98  201013
13    54      60       62  201014
14    62      58       53  201015
15    87      88       81  201016
16    98      74       53  201017
17    68      67       56  201018
18    70      65       87  201019
19    66      54       50  201020

In [54]:
data = pd.read_csv("sample.csv")
print(data)

sort_value1 = data.sort_values(axis = 0, by = "빅데이터분석", ascending= True)
print(sort_value1)

sort_value2 = data.sort_values(axis=1, by=5, ascending=True)
print(sort_value2)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
        학번  프로그래밍기초  빅데이터분석  AI활용
8   201009       81      52    62
19  201020       50      54    66
1   201002       98      55    79
14  201015       53      58    62
13  201014       62      60    54
0   201001       64      60    84
18  201019       87      65    70
17  201018       56      67    68
6   201007       95      70    80
7   201008       71      73    51
16  201017       53      74    98
4   201005       78      75    85
9   201010       51      87    80
15  201016       81      88    87
3   201004       69      93    52
10  201011       89      94    56
2   201003       82      94   100
5   201006       58      96    60
11  201012       69      98    51
12  201013       98      99    77
    프로그래밍기초  AI활용  빅데이터분석      학번
0        64    84      60  201001
1        98    79      55  201002
2        82   100      94  201003
3        69    52      93  201004
4        78    85      75  201005
5        58    60      96  201006
6        95    80      70  201007
7        71    51      73  201008
8        81    62      52  201009
9        51    80      87  201010
10       89    56      94  201011
11       69    51      98  201012
12       98    77      99  201013
13       62    54      60  201014
14       53    62      58  201015
15       81    87      88  201016
16       53    98      74  201017
17       56    68      67  201018
18       87    70      65  201019
19       50    66      54  201020

In [57]:
data = pd.read_csv("sample.csv")
print(data)

data_rank = data.rank(axis=0, method="min", ascending= False, numeric_only=True, na_option="top")
print(data_rank)

        학번  프로그래밍기초  빅데이터분석  AI활용
0   201001       64      60    84
1   201002       98      55    79
2   201003       82      94   100
3   201004       69      93    52
4   201005       78      75    85
5   201006       58      96    60
6   201007       95      70    80
7   201008       71      73    51
8   201009       81      52    62
9   201010       51      87    80
10  201011       89      94    56
11  201012       69      98    51
12  201013       98      99    77
13  201014       62      60    54
14  201015       53      58    62
15  201016       81      88    87
16  201017       53      74    98
17  201018       56      67    68
18  201019       87      65    70
19  201020       50      54    66
      학번  프로그래밍기초  빅데이터분석  AI활용
0   20.0     13.0    15.0   5.0
1   19.0      1.0    18.0   8.0
2   18.0      6.0     4.0   1.0
3   17.0     11.0     6.0  18.0
4   16.0      9.0     9.0   4.0
5   15.0     15.0     3.0  15.0
6   14.0      3.0    12.0   6.0
7   13.0     10.0    11.0  19.0
8   12.0      7.0    20.0  13.0
9   11.0     19.0     8.0   6.0
10  10.0      4.0     4.0  16.0
11   9.0     11.0     2.0  19.0
12   8.0      1.0     1.0   9.0
13   7.0     14.0    15.0  17.0
14   6.0     17.0    17.0  13.0
15   5.0      7.0     7.0   3.0
16   4.0     17.0    10.0   2.0
17   3.0     16.0    13.0  11.0
18   2.0      5.0    14.0  10.0
19   1.0     20.0    19.0  12.0